@import "style/global";

body {
    background: $primary-background-color;
    color: $primary-text-color;
}

.screen-reader {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}